.Welcome{
    margin-top:120px;
}
.Card{
    margin-top:30px;
    width:25%;
    height:120px;
    margin-right:20px;
    border:2px solid grey;
}

.Card p{
    text-align: center;
}

.Container{
    display:flex;
}